html, body {
  height: 95%; /* 确保html和body占满整个页面 */
  margin: 0;    /* 移除默认的外边距 */
}

.home-page {
  display: flex;
  height: 100vh; /* 使父容器铺满视窗 */
  background-color: #f7fafc; /* 背景色 */
  font-family: Arial, sans-serif; /* 字体样式 */
}

.left-content {
  width: 25%; /* 左侧占页面的1/4 */
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 当内容超出时添加滚动条 */
  max-height: 100%; /* 高度为100% */
}

/* 目录样式 */
.left-content a {
  color: #000; /* 默认颜色 */
  transition: color 0.3s, background-color 0.3s; /* 添加过渡效果 */
}

.left-content a:hover {
  cursor: pointer; /* 鼠标悬停时变为指针 */
  color: #1d4ed8; /* 悬停时颜色 */
  background-color: rgba(29, 78, 216, 0.1); /* 悬停时背景颜色 */
}

/* 高亮样式 */
.highlight {
  background-color: rgba(29, 78, 216, 0.2); /* 高亮颜色 */
}


.right-content {
  width: 75%; /* 右侧占页面的3/4 */
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto; /* 当内容超出时添加滚动条 */
  max-height: 100%; /* 高度为100% */
}
