<div class="home-page">
  <div class="flex h-screen">
    <!-- 左侧需求输入区域 -->
    <div class="input-area">
      <!-- 标题输入框 -->
      <div class="input-field">
        <label for="title">标题</label>
        <input
          #title
          id="title"
          type="text"
          placeholder="输入标题..."
        />
      </div>

      <!-- 详细描述输入框 -->
      <div class="input-field">
        <label for="description">详细描述</label>
        <textarea
          #detail
          id="description"
          placeholder="输入详细描述..."
        ></textarea>
      </div>

      <!-- 生成文档按钮 -->
      
      <button (click)="goToRequirementPage(title.value, detail.value)" class="z-10 relative button_button__SRc2Y relative items-center justify-center rounded-md transition-all font-medium 2xl:px-6 2xl:py-3.5 px-5 py-3 copy-body button_primaryButton__ipohF bg-blurple text-white overflow-hidden inline-flex whitespace-nowrap">
        生成文档
      </button>
    </div>
  </div>
</div>

